@font-face{
	font-family: Abril;
	src: url('AbrilFatface-Regular.ttf');
	
}
body{
	background-color: aliceblue;
	font-family: Abril;
	
}

header{
	display: flex; 
	justify-content: space-between;
}
#card{
	margin-left:auto;
}
#cart-button img{
	max-width: 32px;
	max-height: 32px;
	margin-right: 2px;
	margin-top: 4px;

}
#cart-button{
	border-radius: 10rem;
	min-width: 50px;
	min-height: 50px;
}